.party__subtitle {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 24px;
    text-transform: uppercase;

}