.footer__logo {
    margin: 0;
    align-self: flex-start;
    margin-right: 50px;
    background-image: url(../../../image/logo.svg);
    width: 54px;
    height: 70px;
}

@media screen and (max-width: 602px) {
    .footer__logo {
        margin: 0;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}