.footer__info {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 79.305555%;
}

@media screen and (max-width: 602px) {
    .footer__info {
        margin-top: 0;
        max-width: 100%;
        flex-direction: column-reverse;
        max-width: 602px;
    }
}