.important__hero {
    margin: 0 auto;
    padding: 0;
    margin-bottom: -71px;
    max-width: 74.8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}