.party__title {
    margin: 0 auto;
    padding: 0;
    max-width: 75%;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #D9D9D9;
    text-transform: uppercase;
    margin-bottom: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

@media screen and (max-width: 929px) {
    .party__title {
        margin-top: 40px;
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        margin-left: 5%;

    }
}
