.footer__links {
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 29px;
    max-width: 79.305555%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 602px) {
    .footer__links {
        margin: 0;
        margin-bottom: 24px;
        max-width: 100%;
        flex-direction: column;
    }
}
