.blog__sound-records {
    border: none;
    outline: none;
    width: 104px;
    height: 26px;
    color: white;
    background: #0E121B;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 36px;
}