.blog__button-read {
    border: none;
    outline: none;
    background-image: url(../../../image/Button-read.svg);
    cursor: pointer;
    width: 150px;
    height: 56px;
    margin-bottom: 138px;
}


.blog__button-read:hover {
    opacity: 0.6;
}

@media screen and (max-width: 929px) {
    .blog__button-read {
        justify-self: center;
        align-self: center;
        margin-bottom: 50px;


    }
}